.sidebar {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 90vh;
  padding-top: 32px;
  background-color: rgba(255, 255, 255, 0.98);
  transition: transform 0.2s ease-in;

}
.sidebar-dark {
  background-color: #121212;
  color: aliceblue;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 10;
  }
  .open {
    display: none;
  }
}

.sidebar > a {
  color: #121212;
  text-decoration: none;
}

.sidebar-dark > a {
  background-color: aliceblue;
  color: #121212;
}

.sidebar > a:hover {
  background-color: #0000000d;
}


.sidebar > a > li {
  list-style: none;
  display: flex;
  text-align: center;
  padding: 10px 24px;
  cursor: pointer;
}

.sidebar > a > li > span {
  margin-left: 24px;

}
@media only screen and (max-width: 1224px) {
  .sidebar > a > li {
    padding: 10px 16px;
  }

  .sidebar > a > li > span {
    margin-left: 8px;  
  }


}

.sidebar .open {
  transform: translateX(0);
}

.sidebar > li {
  list-style: none;
  display: flex;
  text-align: center;
  padding: 10px 24px;
  cursor: pointer;
}

.sidebar > li > span {
  margin-left: 24px;
  font-size: 14px;
  font-weight: 500;
}

.sidebar > li:hover {
  background-color: #0000000d;
}

.sidebar-dark > li:hover {
  background-color: aliceblue;
  color: #121212
}

.sidebar > hr {
  color: #a3a3a3;
}

@media (max-width: 1224px) {
  .sidebar {
    width: 280px;
  }

  .sidebar > span {
    display: none;
  }

  .sidebar > li {
    justify-content: left;
    padding: 10px 16px;
  }
  .sidebar > li > span {
    margin-left: 8px;
  }
}
